#contact {
    background-color: $pink;
    background-image: url("../img/contact_back.svg");
    background-repeat: no-repeat;
    background-position: top 60px left 0;

    .contact_items {

        @include display__justifyBetween;
        padding: 76px 0px;

        .contact_items_content {
            p {
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                color: $bg_blue;
            }
        }

        a {
            text-decoration: none;
            padding: 10px 33px;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: $bg_blue;
            border: 2px solid $bg_blue;
            border-radius: 24px;
        }

        a:hover {
            transition: all 1s ease;
            background-color: $bg_blue;
            color: $pink;
        }
    }
}


@media screen and (max-width:$mobile) {
    #contact {
        background-position: bottom -154% left 0%;

        .contact_items {
            @include display_flex_column;
            text-align: center;
            width: 100%;
            .contact_items_content {
                width: 100%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 24px;
            }

            a{
                width: 57%;
                margin: 0 auto;
            }
            
        }
    }
}

@media screen and (max-width:$tabled) {
    #contact{
        background-position: top -210% left 0% !important;
    }
}