.ready {
  background-color: $pink;
  padding: 76px 0;
  background-image: url(../img/Group\ 17.png);
  background-repeat: no-repeat;
  background-position: left 60px;
}
.ready_team {
  display: flex;
  justify-content: space-around;
  &_href {
    text-decoration: none;
    padding: 9px 32px 11px 33px;
    border: 2px solid #012f34;
    border-radius: 24px;
    color: #012f34;
  }
  &_get {
    &_to {
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;

      color: #012f34;
    }
  }
}

@media screen and (max-width: $tablet) {
  .ready_team {
    &_get {
      &_to {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        max-width: 336px;
        color: #012f34;
      }
    }
  }
}
